<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">HIBERNATE_DIALECT</property>
        <property name="connection.url">DATABASE_URL</property>
        <property name="connection.driver_class">CONNECTION_DRIVER</property>
        <property name="connection.username">YOUR_USERNAME</property>
        <property name="connection.password">YOUR_PASSWORD</property>
        <property name="show_sql">SHOW_SQL_QUERIES_STRATEGY</property>
        <property name="hbm2ddl.auto">VALIDATION_STRATEGY</property>

        <mapping class="org.cinema.model.User"/>
        <mapping class="org.cinema.model.CinemaHall"/>
        <mapping class="org.cinema.model.Movie"/>
        <mapping class="org.cinema.model.MovieSession"/>
        <mapping class="org.cinema.model.Ticket"/>
        <mapping class="org.cinema.model.ShoppingCart"/>
        <mapping class="org.cinema.model.Order"/>
    </session-factory>
</hibernate-configuration>